<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Name Genie</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <p id="nameBox">Your name: <%- name %></p>
    <h1>My predictions are....</h1>
    <pre>
      <strong>Nationality:</strong> <%- nationality %>
      <strong>Gender:</strong> <%- gender %>
      <strong>Age:</strong> <%- age %>
    </pre>
  </body>
</html>
